@using EnergyPlatformProject.Models
@model AdminViewModel

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div>
    <table class="table table-striped table-borderless table-responsive-sm ">
        <thead>
            <tr class="table-head">
                <th>Address</th>
                <th>Description</th>
                <th>Owner name</th>
                <th>Max energy hours </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Devices.Count; i++)
            {
            <tr>
                <td class="table-element-custom">@Model.Devices[i].Address</td>
                <td class="table-element-custom">@Model.Devices[i].Description</td>
                <td class="table-element-custom">@(Model.Devices[i].Owner == null ? "-" : $"{Model.Devices[i].Owner.FirstName} {Model.Devices[i].Owner.LastName}")</td>
                <td class="table-element-custom">@Model.Devices[i].MaximuHourlyEnergyConsumtion</td>
                <td class="table-element-custom">
                    <a asp-controller="Device" asp-action="UpdateDevice" asp-route-id="@Model.Devices[i].Id" style="color:black">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>

                    <a asp-controller="Device" asp-action="DeleteDevice" asp-route-id="@Model.Devices[i].Id" style="color:black">
                        <i class="fa fa-trash"></i>
                    </a>

                    @if (Model.Devices[i].Owner == null || Model.Devices[i].Owner.Id == Guid.Empty)
                    {
                        <a asp-controller="Device" asp-action="AlocateOwner" asp-route-id="@Model.Devices[i].Id" style="color:black">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </a>
                    }

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
